.add{
    display: flex;
    justify-content: center;
    margin: 60px 0px;
}

.main-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.contents{
    display: flex;
    justify-content: space-around;
}

p{
    padding: 30px;
}

.switch{
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

a{
    margin-right:30px;
}

.contents input{
    border: none;
    background-color: white;
}

.switch button{
    margin-right: 5px;
}